@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


.dashboard-layout {
    display: grid;
    grid-template-columns: 15% 20% 65%;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    background-image: linear-gradient(to right top, #100c1c, #120f1f, #141222, #161526, #181729, #19192d, #1b1a30, #1c1c34, #1e1e38, #1f1f3d, #212141, #232346);
    display: flex;
    flex-direction: column;
}

.sidebar-menu-links {
    margin-left: 10px;
}

.sidebar-user-profile {
    display: flex;
    flex-direction: column;
}

.user-profile-name {
    display: flex;
    align-items: center;
}

.user-profile-name img {
    border-radius: 50px;
    margin: 10px 10px;
}

.user-profile-name p {
    color: #E0E0E0;
    font-size: 20px;
    margin-left: 10px;
}

.sidebar-menu-links p {
    color: #6EC3FF;
}

.sidebar-menu-links p:hover {
    color: #FFFFFF;
}

.sidebar-menu-links p, .team-member-item span {
  transition: color 0.3s ease;
}

/* Teams */
.sidebar-teams {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin-left: 10px;
}

.sidebar-teams span {
    color: #A5A5FF;
}

.team-member-item-list {
    flex-wrap: wrap;
    padding: 20px 0;
}

.team-member-item span {
    font-size: 18px;
    padding: 5px;
    color:	#DADADA;
}

.team-member-item span:hover {
    color: #FFFFFF;
}

.team-member-item {
    display: flex;
    align-items: center; 
    padding: 5px 0;
}

.add-team-button { 
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.add-team-button img {
    height: 25px;
    width: 25px;
}

.add-team-button:active {
    transform: scale(0.95); 
    opacity: 0.8;           
}


/* Feedback */
.sidebar-feedback-box {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.sidebar-feedback-box p {
    color: #B8B8FF;
}

.sidebar-feedback-box p:hover {
    color: #FFFFFF; 
}

/* Message panel */

.conversation-list-panel { 
    background-color: #2b2d42; 
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden; 
}

.conversation-filter-tabs {
    height: 50px;
    display: flex;
    align-items: center;
}

.conversation-filter-buttons {
    padding: 15px 25px;
}

.conversation-filter-buttons button {
    background-color: #2a2a38;
    color: #ffffff;
    height: 30px;
    font-weight: 500;
    transition: all 0.2s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.conversation-filter-buttons button:active {
    transform: scale(0.95); 
    opacity: 0.8;
    background-color: #7f5af0;
    border: 1px solid #888;
           
}

.conversation-filter-buttons button:hover {
    background-color: #3f3f58;
    box-shadow: 0 0 6px #6ec3ff88;
    cursor: pointer;
}


#open {
    border: none;
}


#done {
    border: none;
    margin-left: 10px;
}

#unread {
    background-color: #e5e7eb;
    color: #1f1f1f;
    border: 2px dotted #a0aec0;
    margin-left: 10px;
}

.conversation-list {
    border-top: 1px solid #3b3d50;
    background-color: #1e2030;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
}

.conversation-list::-webkit-scrollbar {
    width: 6px;
}
.conversation-list::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}

.conversation-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    padding-inline-start: 0;
    margin: 0;
}

.conversation-list ul li {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    margin-inline: auto;
    padding: 4px 0;
}

.conversation-list button {
    width: 100%;
    max-width: 450px;
    height: auto;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #2a2d45, #35384f);
    color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-sizing: border-box;
    margin-inline: auto;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}


.conversation-list button:hover {
    background: linear-gradient(135deg, #3a3d5f, #4a4d6f);
    transform: translateY(-1px);
}

.conversation-list button:active {
    transform: scale(0.97);
    opacity: 0.85;
}

@media (max-width: 480px) {
  .conversation-list ul li {
    padding-inline: 10px;
    max-width: 100%;
  }

  .conversation-list button {
    font-size: 14px;
    height: auto;
    padding: 12px;
  }
}

/* Users chat */

.conversation-item {
    display: flex;
    align-items: center;
    gap: 12px; 
    justify-content: flex-start; 
    padding: 10px 14px;
}

.avatar {
    align-self: center;
    border: 1px solid white;
    border-radius: 50%;
}

.conversation-user-info {
    display: flex;
    flex-direction: column;
}

.conversation-user-info .conversation-username {
    font-weight: 600;
    font-size: 14px;
}

.conversation-last-message {
    font-size: 12px;
    color: #6b6b6b;
}

.conversation-time {
    font-size: 12px;
    color: #666666;
    margin-left: auto;
}

/* chat panel */

.active-chat-panel {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #1e2032;
    color: #eaeaea;
    border-left: 1px solid #2f3045;
}

.chat-panel-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #1e2032;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.05);
} 

 .chat-participant-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

 .chat-participant-info img {
    width: 26px;
    height: 26px;
 }

.chat-participant-info span {
    margin-left: 10px;
}

.chat-content {
    border-top: 1px solid black;
}

.chat-settings-dropdown {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 16px
}

.chat-dropdown-toggle {
    background: transparent;
    border: none;
}

.chat-dropdown-toggle img {
    width: 25px;
    height: 25px;
    background: transparent;
}

.chat-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #2a2a38;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 100;
}

.chat-settings-dropdown.open .chat-dropdown-menu {
  display: block;
}

.chat-dropdown-menu li {
  list-style: none;
  margin-bottom: 5px;
}

.chat-dropdown-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.chat-message-list {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding-top: 15px;
}

.chat-message-sent, .chat-message-received {
    background: #5562EB;
    border: 1px solid white;
    max-width: 70%;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    word-break: break-word;
    margin: 0 10px;
}

.chat-message-sent {
    align-self: flex-end;
    background-color: #5562EB;
    color: white;
}

.chat-message-received {
    align-self: flex-start;
    background-color: #33344d;
    color: white;
}


.chat-message-time {
    font-size: 11px;
    color: #ccc;
    display: block;
    text-align: right;
    margin-top: 5px;
}

.chat-input-panel {
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto;
    background-color: #1e2032;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.chat-input-form {
    width: 100%;
    max-width: 1200px;
    min-height: 100px;
    border-radius: 12px;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #111121;
    border: 1px solid rgba(0, 255, 231, 0.3);
    box-shadow: 0 0 8px rgba(0, 255, 231, 0.05);
    box-sizing: border-box;
    margin: 0 auto;
    gap: 10px;
}

 
.chat-input-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


textarea {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    border: none;
    resize: none;
    font-size: 15px;
    width: 100%;
    padding: 6px 0;
    line-height: 1.5;
}

#send-message-button {
   background-color: rgba(85, 98, 235, 0.2); /* accent moale */
    border: 1px solid #5562EB;
    border-radius: 8px;
    padding: 6px;
    margin-right: 8px;
    margin-bottom: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

#send-message-button:hover {
     background-color: rgba(85, 98, 235, 0.35);
}

#send-message-button img {
    fill: #00FFE7;
    filter: invert(1);
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease;
}

#file-upload {
    display: none;
}

#upload-file-button {
    background-color: rgba(0, 255, 231, 0.1);
    border: 1px solid #00FFE7;
    color: #00FFE7;
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    transition: background 0.3s ease;
}

#upload-file-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 255, 231, 0.8);
}

